html, body {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
    width: 100vw;
    background-color: #A8B0A3;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
    color: white;
}

header {
    height: 15dvh;
    background-color: #85948D;
    display: flex;
    justify-content: center;
    align-items: center;    
    border-bottom: 3px solid white;
}

.logo{
    display: flex;
    border-radius: 40%;
    border: 10px solid #697261;    
    height: 25dvh;
    margin-top: 15dvh;
    margin-bottom: 20px;

}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    color: white;font-family: 'Roboto Serif', serif;
    font-size: 22px;
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

.nav1, .nav2 {
    display: flex;
    justify-content: space-between;
    width: 65%;    
    list-style: none;
    width: 80%;
}

ul, li {
    margin-left: -20px;
}

.banner {
    max-height: 400px;
    height: 40dvh;
    background-image: url(./images/ferragudo_banner.jpg);
    background-size:cover;
    background-position: top;
    background-repeat: no-repeat;
    border-bottom: 3px white solid;
}

.container {
    height: 45dvh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.getting {
    background-image: url(./images/plane.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.where {
    background-image: url(./images/ferragudo2.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #3E3D38;
}

.things {
    background-image: url(./images/caves.jpg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.getting, .where, .things {
    width: 20%;
    height: 70%;
    border-radius: 1%;
    color: white;
    font-family: 'Roboto Serif', serif;
    display: flex;
    align-items: flex-end;
    color: white;
    border: white 2px solid;    
    border-radius: 0.25rem;

}

.getting:hover, .where:hover, .things:hover  {
    border: 4px white solid;
    cursor: pointer;
}
.band {
    background-color: #3E3D38;
    width: 100%;
    text-align: center;
    opacity: 80%;
}


.sect_title {
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 3rem;
    text-decoration: underline;

}

.get_there {
    height: 100dvh;
    background-color: #697261;
}


.get_content {    
    height: 70%;
    width: 80%;
    margin-left: 10%;
    display: flex; 
    flex-direction: column;   
    justify-content: space-between;
    align-items: center;
    margin-top: 1%;
    border-radius: 1rem;
    background-image: url(./images/packbags.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.get_text {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.by_plane, .transfers {
    width: 35%;
    color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px white solid;
    text-align: center;
    background-color: #85948D;
    opacity: 90%;
}

.map {
    border-radius: 1rem;    
    border: 2px white solid;
}


.where_stay {
    height:400dvh;
    width:100vw;
}
.where_head {
    display: flex;
    justify-content: center;
}

.destination {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto Serif', serif;
}

#w_title {   
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: 'Roboto Serif', serif;
    font-size: 2rem;
    background-color: rgba(255, 255, 255, 0.85);
    background: linear-gradient(0deg, rgba(168,176,163,0.5018207966780462) 54%, rgba(105,114,97,1) 100%); 
    
}

.ferra_box {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 0.75rem;
    width: 65%;
    height: 35%;
    color: #85948D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
    font-size: 4rem;
}

.ferra_box:hover {
    border: #3E3D38 0.25rem solid;
    cursor: pointer;
}

.low_block {
    height: 35%;
    width: 65%;
    display: flex;
    justify-content:  space-between;    
    margin-top: -5%;
}

.l_box {
    width: 47.5%;
    height: 100%;
    background-color: rgba(62, 61, 56, 0.85);        
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.l_box:hover {
    border: white 0.25rem solid;
    cursor: pointer;
}

#head {
    font-size: 4rem;
}


#ferra {  
    background-image: url("./images/ferragudo3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dest_text {
    background-color: rgba(0, 0, 0, 0.75);
    margin: 0.5%;
    padding: 2.5%;
    border-radius: 0.5rem;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

.dest_text p {
    padding: 5%;
}

#arrow {
    transform: rotate(90deg);
}

#next {
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}


.things_do {
    height: 100dvh;
    background-color: #A8B0A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.things_container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 1rem;
    opacity: 90%;
}

.things_box {
    height: 40%;
    width: 26%;
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-end;
    color: white;
    font-family: 'Roboto Serif', serif;
    border: 4px #A8B0A3 solid;
    overflow: hidden;
}

.things_box:hover {
    cursor: pointer;
}

#golf {
    background-image: url(./images/golf.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#zoo {
    background-image: url(./images/zoo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#sand {
    background-image: url(./images/sand.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#slide {
    background-image: url(./images/splash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#cave {
    background-image: url(./images/caves.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#kayak {
    background-image: url(./images/kayak.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.band2 {
    background-color: rgba(62, 61, 56, 0.75);
    text-align: center;
    width: 100%;
    height: 15%;
    padding: 0% 5% 5% 5%;
}
.things_box h2 {
    padding-bottom: 2rem;
}

.things_text {
    visibility: hidden;
    font-size: 0.8rem;    
}