html, body {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
    width: 100vw;
    background-color: #A8B0A3;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

.rsvp {
    height: 85vh;
    background: rgb(105,114,97);
    background: linear-gradient(0deg, rgba(105,114,97,1) 0%, rgba(168,176,163,1) 68%); 
    background-image: url(./images/Lady_of_the_Rock.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat; 
}

#thanks {
    height: 100%;
    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;    
    font-family: 'Dancing Script', cursive;
}


#rsvp_content {    
    background-color: rgba(133, 148, 141, 0.65);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rsvp h1 {
    margin-top: 7.5%;
    color: white;
    font-size: 3rem;    
    font-family: 'Dancing Script', cursive;
}

.rsvp_form_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2.5%;
}

form {
    width: 50%;
}

legend, label {
    color: white;
}

@media only screen and (max-width: 500px)  { 
    body {        
        width: 100vw;
        overflow-x: hidden;
    }
    #rsvp_content {    
        background-color: rgba(133, 148, 141, 0.65);
        height: 100%;
        width: 100%;
        justify-content: safe;
}
    .rsvp h1 {
        color: white;
        font-size: 3rem;    
        font-family: 'Dancing Script', cursive;
        margin-top: 14%;
    }
    .rsvp_form {
        height: 45dvh;
        padding-bottom: 15dvh;
    }

    .rsvp_form_content {
        height: 80%;
    }
}