html, body {
    margin: 0;
    padding: 0;
    border: 0; 
    vertical-align: baseline;
    width: 100vw; background: rgb(168,176,163);
    background: radial-gradient(circle, rgba(168,176,163,1) 54%, rgba(105,114,97,1) 100%); 
    font-family: Arial, Helvetica, sans-serif;
}

#type {
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 4rem;
    padding-top: 10dvh;
}

.container{
   display: flex;
   justify-content: center;

}

.background {
    border-radius: 2.5%;
    height: 90dvh;
    width: 30vw;
    margin-top: 5dvh;
}

#blur {    
    display: flex;
    flex-direction: column; 
    background-image: url(./images/The_Happy_Couple_Blur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 5;
}

#clear { 
    z-index: 1;
    background-image: url(./images/The_Happy_Couple.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    height: 100%;
    margin: 25% 0% 2%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    display: flex;
    border-radius: 40%;
    border: 10px solid #5D5B4C;
    height: 20vh;
    margin-bottom: 20px;
}
.login {
    font-weight: bold;
}

button {
    background-color:  #85948D;
    color: white;
    border: 2px solid #5D5B4C;
    padding: 3px 5px 3px 5px;
    border-radius: 5%;
}

button:hover {    
    background-color:  #5D5B4C;
    color: white;
    border: 2px solid #85948D;
    cursor: pointer;
}

@media only screen and (max-width: 500px)  { 
    body {        
        width: 100vw;
        overflow-x: hidden;
    }
    .content{
        height: 100%;
        width: 100vw;  
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .background {   
        border-radius: 0;
        height: 100vh;
        width: 100%;
        margin-top: 0;
    }

    #blur {    
        background-position: -8em;
    }
    
    #clear {    
        background-position: -8em;
    }

}